@using WebDauGia.Helper
@section js{
    <script src="js/jquery-1.11.1.min.js"></script>
    <script>

        $('#myCarousel').carousel({
            interval: 4000
        });
    </script>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/Home/icon.png" />
    <title>@ViewBag.Title - Sky Market</title>
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/jquery-3.2.0.min.js"></script>

    @RenderSection("css", false)
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Images/Home/logo.png" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" method="get" action="@Url.Action("Search", "Product")">
                    <div class="form-group">
                        <input type="text" name="txtkey" class="form-control" placeholder="Search">
                        <input type="hidden" name="txtcommand" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Tìm kiếm
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#">Link</a></li>*@
                    @if (CurrentContext.IsLogged() == false)
                    {
                        <li><a href="@Url.Action("Register", "User")">Đăng ký</a></li>
                        <li><a href="@Url.Action("Login", "User")">Đăng Nhập</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Add","Product")">
                                <i class="fa fa-shopping-cart"></i>
                                Đăng sản phẩm
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @CurrentContext.GetCurUser().UserName
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li><a href="@Url.Action("Profile","Account")">Thông tin cá nhân</a></li>*@
                                <li><a href="@Url.Action("Profile", "User")">Quản lý tài khoản</a></li>
                                @*<li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>*@
                                <li role="separator" class="divider"></li>
                                <li><a id="logoutLink" href="javascript:;">Thoát</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        <form id="frmLogout" method="post" action="@Url.Action("Logout","User")"></form>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @RenderSection("view_title")
                    </div>
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 paddingtop-bottom ">
                    <div class="logofooter">
                        <img src="~/Images/Home/logo.png" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footerleft ">
                    <p><i class="fa fa-map-pin"></i> Thành phố Hồ Chí Minh, Việt Nam</p>
                    <p><i class="fa fa-phone"></i> Phone (VN) : 0123456789</p>
                </div>
                <div class="col-md-3 col-sm-6 footerleft ">
                    <p><i class="fa fa-envelope"></i> E-mail : doanwebdaugia@gmail.com</p>
                    <p>&copy; @DateTime.Now.Year - Our ASP.NET Web</p>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                    <div class="fb-page" data-href="https://www.facebook.com/thihatrang.phan?hc_ref=NEWSFEED" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/thihatrang.phan?hc_ref=NEWSFEED"><a href="https://www.facebook.com/thihatrang.phan?hc_ref=NEWSFEED">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/jquery-3.2.0.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        })
    </script>
    <script>

        $('#myCarousel').carousel({
            interval: 4000
        });
    </script>
    @RenderSection("js", false)
    <script src="~/Content/CheckGM.js"></script>
</body>
</html>