@using WebDauGia.Models

@model List<WatchListVM>



<div class="col-md-4">
    <div class="card card-profile">
        <div class="content">
            @foreach (var c in Model)
            {
                <li>
                    <a href="@Url.Action("Detail", "Product", new { id = c.ProID})" data-rel="colorbox">
                        <img alt="180x150" src="~/Images/sp/@c.ProID/main.jpg" width="180" height="150" />
                        <div class="text">
                            <div class="inner">Tên:@c.ProName</div>
                        </div>
                    </a>
                    <p style="color:navy">Giá hiện tại: @string.Format("{0:N0}", c.AucPrice) VNĐ</p>
                    @if (c.Price != null && c.Price != 0)
                    {
                        <p style="color:navy">Giá mua ngay: @string.Format("{0:N0}", c.Price) VNĐ</p>
                    }
                    else
                    {
                        <p style="color:navy">Giá mua ngay: không có</p>
                    }
                    @if (Function.CheckTime(c.EndTime) == 1)
                    { <p class="fa fa-hourglass-half" aria-hidden="true" style="color:green; font-size:18px">@c.EndTime</p>}
                    else
                    { <p class="fa fa-hourglass-end" aria-hidden="true" style="color:red;font-size:18px"> @c.EndTime</p>}
                    <div class="tools tools-bottom">
                        <a href="#">
                            <i class="ace-icon fa fa-link"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-paperclip"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-pencil"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-times red"></i>
                        </a>
                    </div>
                </li>
            }
            <a href="#pablo" class="btn btn-primary btn-round">Loại khỏi ưa thích</a>
        </div>
    </div>
</div>