@using WebDauGia.Models
@using WebDauGia.Helper
@section view_title{
    Đánh giá về tôi
}
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    User us = (User)Session["user"];

    var ctx = new QuanLyDauGiaEntities();
    var l = ctx.Appraises
        .Where(p =>p.BeAsssessed == us.UserName)
        .ToList();
    int t = l.Count();
}

<form id="frmS" method="get" action="@Url.Action("Review","User")">
    <input id="txtReceiver" type="hidden" name="rec" />
    <input id="txtProId" type="hidden" name="proid" />
</form>
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">
                Đánh giá về tôi
            </h4>
            <p class="category">Bạn có @t đánh giá từ người dùng</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>ID</th>
                        <th>Người đánh giá</th>
                        <th class="text-right">Mã sản phẩm</th>
                        <th>Nội dung</th>
                        <th class="text-right">Điểm đánh giá</th>
                        <th class="text-right">Đánh giá người này</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var cim in l)
                    {
                        <tr>
                            <td>chưa có db</td>
                            <td>@cim.Assessor</td>
                            <td class="text-right">chưa</td>
                            <td >@cim.Remark</td>
                            <td class="text-right">chưa</td>
                            <td class="text-right">
                                @*<a class="btn btn-info btn-xs sendReview" href="#" role="button" title="Đánh giá" data-proid="@cim.ProID" data-username="@cim.Assessor">
        Đánh giá
    </a>*@ chưa có db chưa chạy
                                <a class="btn btn-info btn-xs sendReview" href="#" role="button" title="Đánh giá" >
                                    Đánh giá
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
                Cập nhật code cho hiện người thắng ở bảng product
            </table>

        </div>
    </div>
</div>

<script language="javascript">

    $('.sendReview').on('click', function () {
        var id = $(this).data('proid');
        $('#txtProId').val(id);

        var us = $(this).data('username');
        $('#txtReceiver').val(us);

            $('#frmS').submit();

    })
</script>