@using WebDauGia.Models
@using WebDauGia.Helper
@section view_title{
    Sản phẩm đấu giá thắng
}
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    User us = (User)Session["user"];
    var ctx = new QuanLyDauGiaEntities();
    var lprooutdate = ctx.Products.Where(p => p.EndTime < DateTime.Now && p.NumOfAuction > 0 && p.Salesman == us.UserName).ToList();
    int t = lprooutdate.Count();
}

<form id="frmS" method="get" action="@Url.Action("Review","User")">
    <input id="txtReceiver" type="hidden" name="rec" />
    <input id="txtProId" type="hidden" name="proid" />
</form>
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">
                Danh sách sản phẩm bán thành công
            </h4>
            <p class="category">Bạn có @t sản phẩm bán thành công</p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th class="text-right">Người chiến thắng</th>
                        <th class="text-right">Giá tiền thắng</th>
                        <th class="text-right">Đánh giá</th>
                    </tr>
                </thead>
                <tbody>
                   
                    @foreach (var cim in lprooutdate)
                    {
                        <tr>
                            <td>@cim.ProID</td>
                            <td>@cim.ProName</td>
                            <td class="text-right">@WebDauGia.Helper.StringUtils.Replace(cim.Owner)</td>
                            <td class="text-right">@cim.AucPrice</td>
                            <td class="text-right">
                                <a class="btn btn-info btn-xs sendReview" href="#" role="button" title="Đánh giá" data-proid="@cim.ProID" data-username="@cim.Owner" >
                                    Đánh giá
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>
                Cập nhật code cho hiện người thắng ở bảng product
            </table>

        </div>
    </div>
</div>

<script language="javascript">

    $('.sendReview').on('click', function () {
        var id = $(this).data('proid');
        $('#txtProId').val(id);

        var us = $(this).data('username');
        $('#txtReceiver').val(us);

            $('#frmS').submit();

    })
</script>