@using WebDauGia.Models
@using WebDauGia.Helper
@section view_title{
    Sản phẩm bán thành công
}
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">
                Danh sách sản phẩm bán thành công
            </h4>
            <p class="category">Danh sáchaaa </p>
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>Mã lượt đấu</th>
                        <th>Mã sản phẩm</th>
                        <th class="text-right">Người đấu</th>
                        <th class="text-right">Giá tiền đấu</th>
                        <th class="text-right">Thời điểm</th>
                        <th class="text-right">Đánh giá</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        User us = (User)Session["user"];
                        var ctx = new QuanLyDauGiaEntities();
                        var lpro = ctx.Products.Where(p => p.Salesman == us.UserName && p.EndTime<DateTime.Now);
                        List<AuctionHistory> lsold = new List<AuctionHistory>();
                        foreach(var c in lpro)
                        {
                            AuctionHistory t = ctx.AuctionHistorys.Where(p => p.ProID == c.ProID).OrderByDescending(p => p.AucPrice).First();
                            if (t!=null)
                            {
                                lsold.Add(t);
                            }
                        }

                        //var ctx = new QuanLyDauGiaEntities();
                        //List<Product> myAL = (from n in ctx.Products
                        //                      where n.Salesman == us.UserName
                        //                      select n).ToList();

                    }
                    @foreach (var cim in lsold)
                    {
                        <tr>
                            <td>@cim.AucID</td>
                            <td>@cim.ProID</td>
                            <td class="text-right">@cim.UserName</td>
                            <td class="text-right">@cim.AucPrice</td>
                            <td class="text-right">@cim.Time</td>
                            <td class="text-right">
                                <a class="btn btn-info btn-xs updateItem" href="#" role="button" title="Xem thêm">
                                    Đánh giá
                                </a>
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

        </div>
    </div>
</div>