@using WebDauGia.Models

@model User
@section view_title{
}
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section css{
    @*<link href="~/Content/DatePicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@
}
@section js{

}


<form id="frmR" method="get" action="@Url.Action("Review","User")">
    <input id="txtRProId" type="hidden" name="rec" />
    <input id="txtRProId" type="hidden" name="proid" />
</form>
<form id="frmU" method="post" action="@Url.Action("UpdateUserPassword", "Admin")">
    <input id="txtUProId" type="hidden" name="proId" />
    <input id="txtUQ" type="hidden" name="newpass" />
</form>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Quản lý người dùng</h4>
                    <p class="category">Danh sách người dùng</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Mã người dùng</th>
                                <th>Tên người dùng</th>
                                <th>Tên đăng nhập</th>
                                <th class="text-right">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ctx = new QuanLyDauGiaEntities();
                            }
                            @foreach (var cim in ctx.Users)
                            {
                                <tr>
                                    <td>ko co id</td>
                                    <td class="text-primary">@cim.Name</td>
                                    <td>@cim.UserName</td>
                                    <td class="text-right">
                                        <a class="btn btn-success btn-xs removeItem" href="javascript:;" role="button" title="Gửi mail cho người này" data-proid="@cim.UserName">
                                            <i class="fa fa-send"></i>
                                        </a>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    $('.removeItem').on('click', function () {

        if (confirm("Xác nhận gửi nhận xét?")) {
            var id = $(this).data('proid');
            $('#txtRProId').val(id);
            $('#frmR').submit();
        }
        else {
            return false;
        }
    });
    $('.updateItem').on('click', function () {
        var id = $(this).data('proid');
        $('#txtUProId').val(id);
        if (confirm("Xác nhận thay đổi ?")) {
            var q = $(this).closest('tr').find('.numberic').val();
            $('#txtUQ').val(q);

            $('#frmU').submit();

        }
        else {
            return false;
        }


    })
</script>
