@using WebDauGia.Models
@using WebDauGia.Helper
@section view_title{
    Sản phẩm đăng bán
}
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section css{
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
}
@section js{    
    <script src="~/Content/bootstrap.file-input.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}

@{
    User us = (User)Session["user"];

    var ctx = new QuanLyDauGiaEntities();
    List<Product> myAL = (from n in ctx.Products
                          where n.Salesman == us.UserName && n.EndTime > DateTime.Now
                          select n).ToList();
    int t = myAL.Count();
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">
                Danh sách sản phẩm đang đăng bán và còn hạn
            </h4>
            <p class="category">Bạn có @t sản phẩm còn hạn </p>
            @*<p class="text-right">
                    <a class="btn btn-link btn-xs updateItem" href="@Url.Action("Add", "Product")" role="button" title="Cập nhật">
                        <i class="fa fa-plus"></i>
                    </a>
                </p>*@
        </div>
        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th class="text-right">Loại danh mục</th>
                        <th class="text-right">Giá đăng bán</th>
                        <th class="text-right">Giá hiện tại</th>
                        <th class="text-right">Số lượt đấu giá</th>
                        <th class="text-right">Xem chi tiết</th>
                        <th class="text-right">Thêm mô tả</th>
                        <th class="text-right">Xem lịch sử đấu giá</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var cim in myAL)
                    {
                        int s = (from n in ctx.AuctionHistorys
                                 where n.ProID == cim.ProID
                                 select n).ToList().Count();
                        <tr>
                            <td>@cim.ProID</td>
                            <td>@cim.ProName</td>
                            <td class="text-right">@cim.CatID</td>
                            <td class="text-right">@cim.Price</td>
                            <td class="text-right">@cim.OwnerPrice</td>
                            <td class="text-right">@cim.NumOfAuction</td>
                            <td class="text-right">
                                <a class="btn btn-info btn-xs updateItem" href="@Url.Action("Detail", "Product", new { id = @cim.ProID})" role="button" title="Xem thêm" data-proid="@cim.CatID">
                                    Xem
                                </a>
                            </td>
                            <td class="text-right">
                                <a onclick="openModal(@cim.ProID)" class="btn btn-info btn-xs updateItem">
                                    Thêm
                                </a>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-danger btn-xs updateItem" href="@Url.Action("AHistoryProduct", "User", new { id = @cim.ProID})" role="button" title="Cập nhật" data-proid="@cim.CatID">
                                    Xem
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- set up the modal to start hidden and fade in and out -->
    @*<div id="my1Modal" class="modal fade">*@
    <div id="my1Modal" style="display:none" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="@Url.Action("UpdateFullDes", "Product")" method="post" enctype="multipart/form-data">
                    <!-- dialog body -->
                    <div class="modal-body">
                        <button type="button" class="modal-footer close" data-dismiss="modal">&times;</button>
                        <h4>Thêm mô tả</h4>
                        <div class="col-sm-12">
                            <textarea name="FullDes" id="txtFullDes"></textarea>
                        </div>
                        <script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>
                        <script>
                            CKEDITOR.replace('FullDes', {
                                toolbar: [
                                    ['Font', 'FontSize', '-', 'Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
                                    '/',
                                    ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                                    ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
                                ]
                            });
                        </script>
                        <input type="text" id="txtProID" name="ProID" value="abc" hidden />
                    </div>
                    <!-- dialog buttons -->
                    <div class="modal-footer"><button type="submit" class="btn btn-primary">OK</button></div>
                </form>               
            </div>
        </div>
    </div>
</div>
<script>
    function openModal(ProID) {
<<<<<<< HEAD
        $("#txtFullDes").text(ProID); l//ay ID San pham
=======
        $("#txtProID").attr('value', ProID); //lay ID San pham
>>>>>>> origin/master
        $("#my1Modal").attr('class', 'modal fade in');
        $("#my1Modal").attr('style', 'display: inline;');
    }
    //Tat popup
    $(".modal-footer").click(function (e) {
        $("#my1Modal").attr('class', 'modal fade');
        $("#my1Modal").attr('style', 'display: none;');
    });

    $("#openModal").click(function (e) {
        $("#my1Modal").attr('class', 'modal fade in');
        $("#my1Modal").attr('style', 'display: inline;');
    });

    //$("#my1Modal").on("show", function() {    // wire up the OK button to dismiss the modal when shown
    //    alert("?");
    //    $("#my1Modal a.btn").on("click", function (e) {
    //        console.log("button pressed");   // just as an example...
    //        $("#my1Modal").modal('hide');     // dismiss the dialog
    //    });
    //});

    //$("#my1Modal").on("hide", function() {    // remove the event listeners when the dialog is dismissed
    //    $("#my1Modal a.btn").off("click");
    //});

    //$("#my1Modal").on("hidden", function() {  // remove the actual elements from the DOM when fully hidden
    //    $("#my1Modal").remove();
    //});

    $("#my1Modal").modal({                    // wire up the actual modal functionality and show the dialog
        "backdrop": "static",
        "keyboard": true,
        "show": true                     // ensure the modal is shown immediately
    });
</script>