@using WebDauGia.Helper
@using WebDauGia.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var ctx = new QuanLyDauGiaEntities();
    int sp = ctx.Products.Count();
    int dm = ctx.Categories.Count();
    int yc = ctx.Requests.Count();
    int nd = ctx.Users.Count();
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-8">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <h3>Số lượng danh mục: @dm</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">date_range</i> <a href="@Url.Action("ManageCategory","Admin")">Quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">inbox</i>
                    </div>
                    <div class="card-content">
                        <h3>Số lượng sản phẩm: @sp</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> <a href="#">Quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-content">
                        <h3>Yêu cầu từ người dùng: @yc</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> <a href="@Url.Action("ManageRequest","Admin")">Quản lý</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="card-content">
                        <h3>Số lượng người dùng: @nd</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> <a href="@Url.Action("ManageUser","Admin")">Quản lý</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>