@using WebDauGia.Helper
@using WebDauGia.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section js{
    <script src="~/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/jquery-3.2.0.min.js"></script>
}

<form id="frmR" method="post" action="@Url.Action("RemoveCat","Admin")">
    <input id="txtRProId" type="hidden" name="proId" />
</form>
<form id="frmU" method="post" action="@Url.Action("UpdateCat", "Admin")">
    <input id="txtUProId" type="hidden" name="proId" />
    <input id="txtUQ" type="hidden" name="newpass" />
</form>
<form id="frmA" method="post" action="@Url.Action("AddCat","Admin")">
    <input id="txtAProId" type="hidden" name="proId" />
</form>
@if (@ViewBag.Message == "yes")
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thông báo: </strong> Thao tác thành công.
    </div>
}
else if (@ViewBag.Message == "no")
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Lỗi!</strong> Thao tác thất bại! @ViewBag.Message
    </div>
}
else
{

}
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Thêm danh mục</h4>
            @*<p class="category">ahihi</p>*@
        </div>
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        @*<th>Mã danh mục</th>*@
                        <th>Tên danh mục</th>
                        @*<th>Trang thái</th>*@
                        <th class="text-right">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="txtACatName" class="numberic3" value="" /></td>
                        <td class="text-right">
                                        <a class="btn btn-success btn-xs addItem" href="javascript:;" role="button" title="Thêm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Quản lý danh mục</h4>
                    <p class="category">Danh sách danh mục</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>Mã danh mục</th>
                                <th>Tên danh mục</th>
                                <th>Trang thái</th>
                                <th class="text-right">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ctx = new QuanLyDauGiaEntities();
                            }
                            @foreach (var cim in ctx.Categories)
                            {
                                <tr>
                                    <td class="text-primary">@cim.CatID</td>
                                    <td >
                                    <input type="text" id="txtNCatName" class="numberic2" value="@cim.CatName" />
                                    </td>
                                    @if (@cim.Status == true)
                                    {
                                        <td>Được xóa</td>
                                    }
                                    else
                                    {
                                        <td>Không được xóa</td>
                                    }

                                    <td class="text-right">
                                        <a class="btn btn-primary btn-xs updateItem" href="javascript:;" role="button" title="Cập nhật" data-proid="@cim.CatID">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a class="btn btn-danger btn-xs removeItem" href="javascript:;" role="button" title="Xóa" data-proid="@cim.CatID">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    $('.cancel').on('click', function () {
        alert("Bạn không thể xóa danh mục này!!!");
    });
    $('.addItem').on('click', function () {
        var q = $(this).closest('tr').find('.numberic3').val();
        $('#txtAProId').val(q);
        if (confirm("Xác nhận thêm?")) {
            $('#txtAProId').val(q);
            $('#frmA').submit();
        }
        else {
            return false;
        }
    });
    $('.removeItem').on('click', function () {

        if (confirm("Xác nhận xóa?")) {
            var id = $(this).data('proid');
            $('#txtRProId').val(id);
            $('#frmR').submit();
        }
        else {
            return false;
        }
    });
    $('.updateItem').on('click', function () {
        var id = $(this).data('proid');
        $('#txtUProId').val(id);
        if (confirm("Xác nhận thay đổi?")) {
            var q = $(this).closest('tr').find('.numberic2').val();
            $('#txtUQ').val(q);

            $('#frmU').submit();

        }
        else {
            return false;
        }


    })
</script>