@using WebDauGia.Models

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_LayoutRegisterLogin.cshtml";
}
@section view_title{
    Thêm sản phẩm
}

@section css{
    <link href="~/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
}
@section js{
    <script src="~/Content/ckeditor_4.6.2_full/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Jquery-Valid/jquery.validate.min.js"></script>
    <script src="~/Content/bootstrap.file-input.js"></script>


    @*<script type="text/javascript" src="~/scripts/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <!--Cái này bị đè nên nó mới không chạy được cái quản lý.-->
    @*<script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>*@
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>

    <script>
        $('input[type=file]').bootstrapFileInput();

        CKEDITOR.replace('FullDes', {
            toolbar: [
                ['Font', 'FontSize', '-', 'Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'Undo', 'Redo', '-', 'Cut', 'Copy', 'Paste', 'Find', 'Replace', '-', 'Outdent', 'Indent', '-', 'Print'],
                '/',
                ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'],
                ['Image', 'Table', '-', 'Link', 'Flash', 'Smiley', 'TextColor', 'BGColor', 'Source']
            ]
        });
    </script>

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/mm/yyyy',
            autoclose: true,
        });
        $("#Form-Add").validate({
            rules: {
                ProName: {
                    required: true,
                },
                Price: {
                    required: true,
                },
                Quantity: {
                    required: true,
                },
            },
            messages: {
                ProName: {
                    required: "Chỗ này không được để trống.",
                },
                Price: {
                    required: "Chỗ này không được để trống.",
                },
                Quantity: {
                    required: "Chỗ này không được để trống.",
                },
            },
            errorelement: 'span',
            errorClass: 'help-block',
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                $(element).closest('.form-group')
                  .addClass('has-error');
            },
            //unhighlight: function (element, errorClass, validClass) {
            //    $(element).removeClass(errorClass).addClass(validClass);
            //    $(element).closest('.form-group')
            //      .removeClass('has-error');
            //},
            success: function (label) {
                $(label).closest('.form-group')
                  .removeClass('has-error').addClass('has-success');
                label.remove;
            }

        });
    </script>
}
<form class="form-horizontal" action="" method="post" id="Form-Add" enctype="multipart/form-data">
    @*<h1 style="text-align:center">Thêm sản phẩm</h1>*@
    <div class="form-group">       
        <div class="col-sm-4">
            <label for="ProName" class="col-sm-6 control-label">Ảnh đại diện:</label>
            <div class="col-sm-6">
                <input type="file" id="fuMain" name="fuMain" />
            </div>
        </div>
        <div class="col-sm-4">
            <label for="ProName" class="col-sm-6 control-label">Ảnh chi tiết:</label>
            <div class="col-sm-6">
                <input type="file" id="fuThumbs_1" name="fuThumbs_1" />
            </div>
        </div>
        <div class="col-sm-4">
            <label for="ProName" class="col-sm-6 control-label">Ảnh chi tiết:</label>
            <div class="col-sm-6">
                <input type="file" id="fuThumbs_2" name="fuThumbs_2" />
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="ProName" class="col-sm-2 control-label">Tên sản phẩm:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="ProName" />
        </div>
        <label for="CatId" class="col-sm-2 control-label">Danh mục:</label>
        <div class="col-sm-4">
            <select name="CatId" class="form-control">
                @foreach (var c in @ViewBag.DanhSachDanhMuc)
                {
                    <option value="@c.CatID">@c.CatName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Quantity" class="col-sm-2 control-label">Số lượng:</label>
        <div class="col-sm-1">
            <input type="number" class="form-control" name="Quantity" />
        </div>
        <label for="Price" class="col-sm-2 control-label">Giá mua ngay:</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" name="Price" />
        </div>
        <label for="Price" class="col-sm-2 control-label">Giá khởi điểm:</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" name="AucPrice" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="TinyDes" class="col-sm-2 control-label">Mô tả sản phẩm:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="TinyDes" />
        </div>
    </div>
    <div class="form-group">
        <label for="FullDes" class="col-sm-2 control-label">Mô tả chi tiết:</label>
        <div class="col-sm-10">
            <textarea name="FullDes" id="FullDes"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="StartTime" class="col-sm-2 control-label">Bắt đầu:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="time1"
                   name="StartTime" value="@String.Format("{0:d/M/yyyy}", DateTime.Now)" />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#time1').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            });
        </script>
        <label for="EndTime" class="col-sm-2 control-label">Kết thúc:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control datepicker" id="time2"
                   name="EndTime" value="@String.Format("{0:d/M/yyyy hh:mm tt}", DateTime.Now.AddDays(7))" />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#time2').datetimepicker({
                    format: 'DD/MM/YYYY hh:mm A'
                });
            });
        </script>
    </div>
    <div class="form-group">
        <label for="StepPrice" class="col-sm-2 control-label">Bước tăng:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="StepPrice" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-danger" name="btnAdd">
                <i class="fa fa-check"></i> Thêm
            </button>
            <a href="@Url.Action("Index","Home")" class="btn btn-success">
                <i class="fa fa-reply"></i>Trở về trang chủ
            </a>
        </div>
    </div>
    <h1 style="text-align:center">@ViewBag.Message</h1>
</form>