@using WebDauGia.Models
@model List<Product>
@{
    ViewBag.Title = @ViewBag.CatName;
}
@section view_title{
    <i class="fa fa-product-hunt" aria-hidden="true"></i>
    Danh sách sản phẩm: @ViewBag.CatName
    @if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <a class="fa fa-sort-down btn btn-primary" aria-hidden="true" id="btnsoftdownTime" href="?Command=1&page=@(ViewBag.curPage) ">  Hạn Kết Thúc </a>
                <a class="fa fa-sort-up btn btn-primary" aria-hidden="true" id="btnsoftupPrice" href="?Command=2&page=@(ViewBag.curPage) ">  Giá Sản Phẩm </a>
            </div>
        </div>
    }
}
@section css{
    @*<link href="~/Content/LightBox/Hinh.css" rel="stylesheet" />*@
    <style type="text/css">
        .product {
            /*margin: 50px auto;*/
            /*width: 280px;
            height: 370px;*/
            background: white;
            border: 1px solid #333;
            /*position: relative;*/
            /*z-index: 90;*/
        }

        .ribbon-wrapper {
            /*width: 400px;
            height: 300px;*/
            overflow: hidden;
            /*position: absolute;*/
            top: -3px;
            left: -3px;
        }

        .ribbon {
            font: bold 15px sans-serif;
            color: #333;
            text-align: center;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            position: relative;
            padding: 7px 0;
            top: 15px;
            left: -30px;
            width: 120px;
            background-color: #ebb134;
            color: #fff;
        }
        .ribbon-wrapper img{
                display: block;
                max-width: 100%;
                height: auto;
        }
    </style>
}
<script>
    $(document).ready(function () {
        $('[data-toggle="love"]').tooltip();
    });
    function love(proid) {
        $(function () {
            var url = "/WatchList/Add";
            $.ajax({
                url: url,
                type: "POST",
                data: { ProID: proid },
                dataType: "json",
                timeout: 30 * 1000,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            })
                .done(function (data) {
                    if (data == "1") {
                        if (confirm("Đăng Nhập Để Thêm Sản Phẩm Vào List Yêu Thích Của Bạn???") == true) {
                            window.location = "@Url.Action("Login","User")";
                        } else {

                        }
                    }
                    else { alert(data); }
                })
                .fail(function (jqXHR, status, error) {
                    console.log(jqXHR);
                    alert('fail');
                });
        });
    }
</script>

@if (Model.Count == 0)
{
    <text>Không có sản phẩm.</text>
}
else
{
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail product">
                    @if (WebDauGia.Models.Function.CheckNew(p.StartTime) == 1)
                    {
                        <a href="@Url.Action("Detail", "Product", new { id = p.ProID})" class="item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon">NEW</div>
                                <img src="~/Images/sp/@p.ProID/main.jpg" title="@p.ProName"
                                     onerror="this.onerror=null;this.src='/Images/sp/main.jpg';"
                                     max-width="100%" />
                            </div>
                        </a>
                    }
                    else
                    {<a href="@Url.Action("Detail", "Product", new { id = p.ProID})">
                        <img src="~/Images/sp/@p.ProID/main.jpg" title="@p.ProName"
                             onerror="this.onerror=null;this.src='/Images/sp/main.jpg';" />
                    </a>
                    }

                    <div class="caption">
                        <p style="overflow:hidden;text-overflow:ellipsis">@p.ProName</p>
                        <p>Lượt đấu: (@p.NumOfAuction)</p>
                        <p>Người mua: @WebDauGia.Helper.StringUtils.Replace(p.Owner)</p>
                        <p style="color:navy">Giá hiện tại: @string.Format("{0:N0}", p.AucPrice) VNĐ</p>
                        @if (p.Price != null && p.Price != 0)
                        {
                            <p style="color:navy">Giá mua ngay: @string.Format("{0:N0}", p.Price) VNĐ</p>
                        }
                        else
                        {
                            <p style="color:navy">Giá mua ngay: không có</p>
                        }
                        <p style="color:red;text-align:center" class="fa fa-hourglass-half">
                            : @Function.DateTimeToString(p.EndTime)
                            <a style="font-size: 19px; color: red" data-toggle="love" data-placement="bottom" title="Thêm vào danh sách yêu thích!"
                               class="fa fa-heart" onclick="love(@p.ProID)" aria-hidden="true"></a>
                        </p>
                        <p style="overflow:hidden;text-overflow:ellipsis; white-space:nowrap"></p>
                        <p style="text-align:center">
                            <a href="@Url.Action("Detail", "Product", new { id = p.ProID})" class="btn btn-success" role="button">
                                Đấu Giá
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (@ViewBag.curPage == 1)
            {
                <li class="disabled">
                    <a aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="?Command=@ViewBag.Command&page=@(ViewBag.curPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= @ViewBag.Pages; i++)
            {
                if (i == ViewBag.curPage)
                {
                    <li class="active"><a href="?Command=@ViewBag.Command&page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="?Command=@ViewBag.Command&page=@i">@i</a></li>
                }
            }
            @if (@ViewBag.curPage == @ViewBag.Pages)
            {
                <li class="disabled">
                    <a aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="?Command=@ViewBag.Command&page=@(ViewBag.curPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
