@using WebDauGia.Models
@model Product
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
@section view_title{
    Chi tiết sản phẩm
}
@section css{
    <link href="~/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <style type="text/css">
        .caption-lg-orange {
            font-weight: bold;
            font-size: 12pt;
            color: #fc6e04;
        }

        .caption-lg-red {
            font-weight: bold;
            font-size: 11pt;
            color: #f00;
        }

        .padding {
            padding-top: 8px;
        }
    </style>
}

@section js{
    <script src="~/assets/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtQ').TouchSpin({
            min: 1,
            max: 50,
            verticalbuttons: true
        });
    </script>
}

@if (Model == null)
{
    <text>Sản phẩm không tồn tại!</text>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/sp/@Model.ProID/main.jpg" style="width:100%" />
        </div>
        <div class="col-md-3">
            <img src="~/Images/sp/@Model.ProID/main.jpg" style="width:100%" />
        </div>
        <div class="col-md-3">
            <img src="~/Images/sp/@Model.ProID/main.jpg" style="width:100%" />
        </div>
        <div class="col-md-12 caption-lg-orange">
            <h3>@Model.ProName</h3>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Giá hiện tại: @string.Format("{0:N0}", Model.Price)</span>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Giá mua ngay: @string.Format("{0:N0}", Model.Price)</span>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Người bán và điểm đánh giá: @string.Format("{0:N0}", Model.Price)</span>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Người đang giữ giá cao nhất và điểm đánh giá: @string.Format("{0:N0}", Model.Price)</span>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Thời điểm đăng: @Model.StartTime</span>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Thời điểm kết thúc: @Model.EndTime</span>
        </div>
        <div class="col-md-12 padding">
            <div class="profile-info-row">
                <button type="button" class="btn btn-info">
                    Xem lịch sử đấu giá
                </button>
                <button type="button" class="btn btn-success">
                    Đấu giá
                </button>
            </div>
        </div>
        <div class="col-md-12 padding">
            Tồn kho: @Model.Quantity
        </div>
        <div class="col-md-12 padding">
            @Html.Raw(HttpUtility.HtmlDecode(Model.FullDes))
        </div>
    </div>


    @*if (CurrentContext.IsLogged())
        {
            <form class="form-horizontal" id="frmAddItem" method="post" action="@Url.Action("Add","Cart")">
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="hidden" id="txtP" name="proId" value="@Model.ProID" />
                        <div class="input-group" style="margin-left: 24px;">
                            <input id="txtQ" type="text" name="quantity" class="form-control" placeholder="Slg" value="1" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-cart-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        }*@
}

@{
    List<Comment> list;
    string Uname;
    using (var ctx = new QuanLyDauGiaEntities())
    {
        list = ctx.Comments.Where(bl => bl.ProID == Model.ProID).OrderByDescending(bl => bl.CmtID).ToList();
    }
    <div id="comments" class="clearfix">
        <span class="arr"></span>
        <a name="binhluan"></a>
        <h5 class="head-title-box" id="showNumberbinhluan">@list.Count() bình luận</h5>
        <ul class="comment-list unstyled clearfix" id="pn_list_comment" style="opacity: 1;">

            @if (list.Count() == 0)
            {
                <li>
                    Chưa có bình luận nào, bạn hãy tham gia nhé !
                </li>
            }
            else
            {
                foreach (var item in list)
                {
                    <li>
                        <div class="comment-content">
                            <div class="user-picture">
                                <a href="../../SanPham/DSTheoThanhVien/@item.UserName" title=""><img src="../../images/avatardefault.png" width="50" height="50" border="0" alt="@item.UserName"></a>
                            </div>
                            <div class="meta-user-comment clearfix">
                                <a href="../../SanPham/DSTheoThanhVien/@item.UserName" class="username">
                                   
                                @{
                                    var ct = new QuanLyDauGiaEntities();
                                    var ten = ct.Users.Where(us => us.UserName == item.UserName).Single();
                                    Uname = ten.UserName;
                                        }
                                    @Uname
                                </a>
                                <small> - <time datetime="<%=item.NgayDang_BL %>"><span> @item.TimeCmt</span></time></small>
                            </div>
                            <div class="comment-body">@item.Comment1</div>

                        </div>
                    </li>
                }
            }
    </div>
}
