
@using WebDauGia.Models

@model List<Product>

<style>
    p {
        font-size: 11px;
    }

    img {
    }
</style>
<script>
    $(document).ready(function () {
        $('[data-toggle="love"]').tooltip();
    });
    function love(proid) {
        $(function () {
            var url = "/WatchList/Add";
            $.ajax({
                url: url,
                type: "POST",
                data:{ProID:proid},
                dataType: "json",
                timeout: 30 * 1000,
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            })
                .done(function (data) {
                    if(data=="1")
                    {
                        if (confirm("Đăng Nhập Để Thêm Sản Phẩm Vào List Yếu Thích Của Bạn???") == true) {
                            window.location = "@Url.Action("Login","User")";
                        } else {

                        }
                    }
                    else{alert(data);}
                        //var html =
                        //    '<tr>' +
                        //        '<td>' + p.ProID + '</td>' +
                        //        '<td>' + p.ProName + '</td>' +
                        //        '<td>' + p.Price + '</td>' +
                        //        '<td><a href="javascript:;" class="btn btn-default viewPro" data-id="' + p.ProID + '">VIEW</a></td>' +
                        //    '</tr>';

                        //$('#productList').append(html);
                    //});
                })
                .fail(function (jqXHR, status, error) {
                    console.log(jqXHR);
                    alert('fail');
                });
        });
    }
</script>

@if (Model.Count == 0)
{
    <text>Không có sản phẩm.</text>
}
else
{
    <div class="row">
        @foreach (var p in Model)
        {

            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="@Url.Action("Detail", "Product", new { id = p.ProID})">
                        <img src="~/Images/sp/@p.ProID/main.jpg" title="@p.ProName"
                             onerror="this.onerror=null;this.src='/Images/sp/main.jpg';" />
                    </a>
                    <div class="caption">
                        <p style="overflow:hidden;text-overflow:ellipsis">@p.ProName</p>

                        <p>Lượt đấu: (@p.NumOfAuction)</p>

                        <p>Người mua: @WebDauGia.Helper.StringUtils.Replace(p.Owner)</p>
                        <p style="color:navy">Giá hiện tại: @string.Format("{0:N0}", p.AucPrice) VNĐ</p>
                        @if (p.Price != null && p.Price != 0)
                        {
                            <p style="color:navy">Giá mua ngay: @string.Format("{0:N0}", p.Price) VNĐ</p>
                        }
                        else
                        {
                            <p style="color:navy">Giá mua ngay: không có</p>
                        }
                        <p style="color:red" class="fa fa-hourglass-half">: @Function.DateTimeToString(p.EndTime)
                            <a style="font-size: 19px; color: red" data-toggle="love" data-placement="bottom" title="Thêm vào danh sách yêu thích!"
                               class="fa fa-heart" onclick="love(@p.ProID)" aria-hidden="true"></a>
                        </p>
                        <p style="overflow:hidden;text-overflow:ellipsis; white-space:nowrap"></p>
                        <p>
                            <a href="#" class="btn btn-success" role="button">
                                <i class="fa fa-cart-plus"></i>
                                Bid
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}