
@using WebDauGia.Models
@using WebDauGia.Helper

@model List<Product>

@if (Model.Count == 0)
{
    <text>Không có sản phẩm.</text>
}
else
{
    <div class="class=" panel-body"">
        @foreach (var p in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    @if (WebDauGia.Models.Function.CheckNew(p.StartTime) == 1)
                    {
                        <a href="@Url.Action("Detail", "Product", new { id = p.ProID})" class="item">
                            <span class="nhan">NEW</span>
                            <img src="~/Images/sp/@p.ProID/main.jpg" title="@p.ProName"
                                 onerror="this.onerror=null;this.src='/Images/sp/main.jpg';" />
                        </a>
                    }
                    else
                    {<a href="@Url.Action("Detail", "Product", new { id = p.ProID})">
                        <img src="~/Images/sp/@p.ProID/main.jpg" title="@p.ProName"
                             onerror="this.onerror=null;this.src='/Images/sp/main.jpg';" />
                    </a> }
                    <div class="caption">
                        <p style="overflow:hidden;text-overflow:ellipsis">@p.ProName</p>

                        <p>Lượt đấu: (@p.NumOfAuction)</p>

                        <p>Người mua: @WebDauGia.Helper.StringUtils.Replace(p.Owner)</p>

                        <p style="color:navy">Giá hiện tại: @string.Format("{0:N0}", p.AucPrice) VNĐ</p>

                        @if (p.Price != null && p.Price != 0)
                        {
                            <p style="color:navy">Giá mua ngay: @string.Format("{0:N0}", p.Price) VNĐ</p>
                        }
                        else
                        {
                            <p style="color:navy">Giá mua ngay: không có</p>
                        }
                        <p style="color:red;text-align:center" class="fa fa-hourglass-half">
                            : @Function.DateTimeToString(p.EndTime)
                            <a style="font-size: 19px; color: red" data-toggle="love" data-placement="bottom" title="Thêm vào danh sách yêu thích!"
                               class="fa fa-heart" onclick="love(@p.ProID)" aria-hidden="true"></a>
                        </p>
                        <p style="overflow:hidden;text-overflow:ellipsis; white-space:nowrap"></p>
                        <p style="text-align:center">
                            <a href="@Url.Action("Detail", "Product", new { id = p.ProID})" class="btn btn-success" role="button">
                                Đấu Giá
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
